body{
    overflow-x: hidden;
}

@keyframes slideIn {
    0% {
      width: 0%;

      opacity: 0;
    }
    
    100% {
      width: 50%;
      opacity: 1;
    }
}


.navBurger__hamburger{
    position: absolute;
    height: 60px;
    width: 60px;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background: rgba(255,255,255,0.2);
}

.navBurger__hamburger--icon.icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
}

.navBurger__hamburger--icon.icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
}

.navBurger__hamburger:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
}

.navBurger__hamburger--icon{
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}

.navBurger__hamburger--icon.icon-1{
    transform: translateY(-8px);
    animation-delay: 100ms;
}

.navBurger__hamburger--icon.icon-3{
    transform: translateY(8px);
    animation-delay: 250ms;
}

.navBurger__nav {
    background: peachpuff;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    z-index: 10;
    opacity: 0;
    transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
}
.navBurger__nav ul {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 40%;
}

.navBurger__nav ul li{
    list-style: none;
    font-size: 24px;
    color: #252525;
    line-height: 2.2;
    text-transform: uppercase;
    letter-spacing: 1.7px;
}
  
.navBurger__nav.show {
    width: 50%;
    opacity: 1;
}

.navBurger__hamburger--icon.icon-1.a {
    transform: rotate(40deg);
}

.navBurger__hamburger--icon.icon-3.b {
    transform: rotate(-40deg);
}

.navBurger__hamburger--icon.icon-2.c {
    opacity: 0;
}

.navBurger__hamburger--clear {
    clear: both;
}